* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

::selection {
  background: black;
  color: white;
}

body {
  background: #f8f9fa !important;
}
